Repository playerony/react-javascript-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, prettier-package-json --write

chore: configure webpack
  .babelrc
  .eslintrc
  .prettierignore
  .prettierrc
  package.json
  src/app/app.component.jsx
  src/app/app.styles.css
  src/index.jsx
  webpack.config.js
  webpack/webpack.development.js
  webpack/webpack.production.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, prettier-package-json --write

chore: configure webpack (#1)
  .babelrc
  .eslintrc
  .prettierignore
  .prettierrc
  package.json
  src/app/app.component.jsx
  src/app/app.styles.css
  src/index.jsx
  webpack.config.js
  webpack/webpack.development.js
  webpack/webpack.production.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, prettier-package-json --write

chore: configure jest
  jest.config.js
  package.json
  src/app/app.component.jsx
  src/app/app.spec.jsx
  src/setup-tests.js
  webpack/webpack.config.js
  webpack/webpack.development.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, prettier-package-json --write

fix: check commadn
  .prettierignore
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: fix
  package.json
Due: prettier-package-json --write

chore: configure jest (#2)
  .prettierignore
  jest.config.js
  package.json
  src/app/app.component.jsx
  src/app/app.spec.jsx
  src/setup-tests.js
  webpack/webpack.config.js
  webpack/webpack.development.js
  yarn.lock
Due: eslint --cache --fix, prettier --write, prettier-package-json --write

ci: configure github ci
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: none

fix: ci
  .github/workflows/prettier.yml
Due: none

ci: configure github ci (#3)
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: none

docs: update readme
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: docs section
  README.md
Due: prettier --write

docs: update readme (#4)
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: add useful shell scripts
  .prettierignore
  README.md
  package.json
  scripts/clean-node-modules.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/reinstall-node-modules.sh
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: add useful shell scripts
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
Due: none

chore: add useful shell scripts
  .github/workflows/prettier.yml
  scripts/git-create-branch.sh
Due: none

docs: add shell section for README.md
  README.md
Due: prettier --write

docs: add shell section for README.md
  scripts/git-create-branch.sh
Due: none

chore: add useful shell scripts (#5)
  .github/workflows/prettier.yml
  .prettierignore
  README.md
  package.json
  scripts/clean-node-modules.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/reinstall-node-modules.sh
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor: rename clean-node-modules script
  README.md
  package.json
  scripts/git-create-branch.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-node-modules.sh
Due: prettier --write, prettier-package-json --write

refactor: rename clean-node-modules script (#6)
  README.md
  package.json
  scripts/git-create-branch.sh
  scripts/reinstall-node-modules.sh
  scripts/remove-node-modules.sh
Due: prettier --write, prettier-package-json --write

build: copy public path to dist
  webpack/webpack.config.js
Due: eslint --cache --fix, prettier --write

build: copy public path to dist (#7)
  webpack/webpack.config.js
Due: eslint --cache --fix, prettier --write

build: remove html files from public directory
  webpack/webpack.config.js
Due: eslint --cache --fix, prettier --write

build: remove html files from public directory
  README.md
  package.json
  scripts/git-checkout-main-with-pull.sh
Due: prettier --write, prettier-package-json --write

build: remove html files from public directory (#8)
  README.md
  package.json
  scripts/git-checkout-main-with-pull.sh
  webpack/webpack.config.js
Due: eslint --cache --fix, prettier --write, prettier-package-json --write

chore: add setup-project script
  README.md
  package.json
  public/index.html
  public/manifest.json
  scripts/setup-project.sh
  src/app/app.component.jsx
Due: prettier --write, prettier-package-json --write

chore: add setup-project script
  src/app/app.component.jsx
Due: none

chore: add setup-project script (#9)
  README.md
  package.json
  public/index.html
  public/manifest.json
  scripts/setup-project.sh
  src/app/app.component.jsx
Due: prettier --write, prettier-package-json --write

build: configure docker for static app
  .dockerignore
  Dockerfile
  package.json
Due: prettier-package-json --write

build: configure docker for static app
  README.md
Due: prettier --write

build: configure docker for static app (#10)
  .dockerignore
  Dockerfile
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

ci: configure docker-compose
  README.md
  docker-compose.yml
  package.json
Due: prettier --write, prettier-package-json --write

ci: configure docker-compose
  .prettierignore
Due: none

ci: configure docker-compose (#11)
  .prettierignore
  README.md
  docker-compose.yml
  package.json
Due: prettier --write, prettier-package-json --write

chore: update shell scripts
  scripts/git-checkout-main-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
Due: none

chore: update shell scripts (#12)
  scripts/git-checkout-main-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.src/**/*) or (any of: *.{js,md,css})
  prettier-package-json --write: any of: package.json
